<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos UPTC.
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="GridHome">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="photo">
            <img src="../../assets/images/logo.JPG">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
          <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
          <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block" routerLink='/home' color="medium">Ver Eventos.</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block" routerLink='/home' color="medium">Ingresar.</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>